<section class="drevena" id="drevena">
  <div class="drevena__container container">
    <h2 class="drevena__title drevena__title--current">Dřevěná</h2>
    <div class="drevena__catalog">
      <div class="drevena__kind">
        <h3 class="drevena-pic__title">Naturo 68</h3>
        <p class="drevena__descr">1.3 Uw, když Ug=1,0(hliníková vložka)</p>
        <p class="drevena__descr">2 těsnění</p>
        <p class="drevena__descr">5 komor</p>
      </div>
      <div class="drevena__pic">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="
              ../src/images/okna_drevena/naturo_68_178l.webp 1x,
              ../src/images/okna_drevena/naturo_68_356l.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_drevena/naturo_68_111m.webp 1x,
              ../src/images/okna_drevena/naturo_68_222m.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_drevena/naturo_68_100.webp 1x,
              ../src/images/okna_drevena/naturo_68_200.webp 2x
            "
            type="image/webp"
          />
          <img
            class="drevena__img"
            alt="naturo_68"
            src="../src/images/okna_drevena/naturo_68_100.webp"
          />
        </picture>
      </div>
    </div>
    <div class="drevena__color">
      <ul class="drevena-color__list list">
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/old-pine@1l.png 1x,
                  ../src/images/okna_drevena/color/old-pine44.png  2x
                "
              />
              <source
                media="(min-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/old-pine@1m.png 1x,
                  ../src/images/okna_drevena/color/old-pine36.png  2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ../src/images/okna_drevena/color/old-pine@1s.png 1x,
                  ../src/images/okna_drevena/color/old-pine30.png  2x
                "
              />
              <img
                class="color__image"
                alt="old-pine"
                src="../src/images/okna_drevena/color/old-pine@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">old-pine</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/stone-pine@1l.png 1x,
                  ../src/images/okna_drevena/color/stone-pine44.png  2x
                "
              />
              <source
                media="(min-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/stone-pine@1m.png 1x,
                  ../src/images/okna_drevena/color/stone-pine36.png  2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ../src/images/okna_drevena/color/stone-pine@1s.png 1x,
                  ../src/images/okna_drevena/color/stone-pine30.png  2x
                "
              />
              <img
                class="color__image"
                alt="stone-pine"
                src="../src/images/okna_drevena/color/stone-pine@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">stone-pine</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/wellnut@1l.png 1x,
                  ../src/images/okna_drevena/color/wellnut44.png  2x
                "
              />
              <source
                media="(min-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/wellnut@1m.png 1x,
                  ../src/images/okna_drevena/color/wellnut36.png  2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ../src/images/okna_drevena/color/wellnut@1s.png 1x,
                  ../src/images/okna_drevena/color/wellnut30.png  2x
                "
              />
              <img
                class="color__image"
                alt="wellnut"
                src="../src/images/okna_drevena/color/wellnut@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">wellnut</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1l.png 1x,
                  ../src/images/okna_drevena/color/wenge44.png  2x
                "
              />
              <source
                media="(min-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1m.png 1x,
                  ../src/images/okna_drevena/color/wenge36.png  2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1s.png 1x,
                  ../src/images/okna_drevena/color/wenge30.png  2x
                "
              />
              <img
                class="color__image"
                alt="wenge"
                src="../src/images/okna_drevena/color/wenge@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">wenge</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/assamela@1l.png 1x,
                  ../src/images/okna_drevena/color/assamela44.png  2x
                "
              />
              <source
                media="(min-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/assamela@1m.png 1x,
                  ../src/images/okna_drevena/color/assamela36.png  2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ../src/images/okna_drevena/color/assamela@1s.png 1x,
                  ../src/images/okna_drevena/color/assamela30.png  2x
                "
              />
              <img
                class="color__image"
                alt="assamela"
                src="../src/images/okna_drevena/color/assamela@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">assamela</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/cherry@1l.png 1x,
                  ../src/images/okna_drevena/color/cherry44.png  2x
                "
              />
              <source
                media="(min-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/cherry@1m.png 1x,
                  ../src/images/okna_drevena/color/cherry36.png  2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ../src/images/okna_drevena/color/cherry@1s.png 1x,
                  ../src/images/okna_drevena/color/cherry30.png  2x
                "
              />
              <img
                class="color__image"
                alt="cherry"
                src="../src/images/okna_drevena/color/cherry@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">cherry</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/oak@1l.png 1x,
                  ../src/images/okna_drevena/color/oak44.png  2x
                "
              />
              <source
                media="(min-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/oak@1m.png 1x,
                  ../src/images/okna_drevena/color/oak36.png  2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ../src/images/okna_drevena/color/oak@1s.png 1x,
                  ../src/images/okna_drevena/color/oak30.png  2x
                "
              />
              <img
                class="color__image"
                alt="oak"
                src="../src/images/okna_drevena/color/oak@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">oak</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/chestnut@1l.png 1x,
                  ../src/images/okna_drevena/color/chestnut44.png  2x
                "
              />
              <source
                media="(min-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/chestnut@1m.png 1x,
                  ../src/images/okna_drevena/color/chestnut36.png  2x
                "
              />
              <source
                media="(min-width: 320px)"
                srcset="
                  ../src/images/okna_drevena/color/chestnut@1s.png 1x,
                  ../src/images/okna_drevena/color/chestnut30.png  2x
                "
              />
              <img
                class="color__image"
                alt="chestnut"
                src="../src/images/okna_drevena/color/chestnut@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">chestnut</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="drevena__container container">
    <div class="drevena__catalog">
      <div class="drevena__kind">
        <h3 class="drevena-pic__title">Naturo 76</h3>
        <p class="drevena__descr">0.86 Uw, když Ug=0.5(hliníková vložka)</p>
        <p class="drevena__descr">2 těsnění</p>
        <p class="drevena__descr">3/4 komor</p>
      </div>
      <div class="drevena__pic">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="
              ../src/images/okna_drevena/naturo_76_178l.webp 1x,
              ../src/images/okna_drevena/naturo_76_356l.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_drevena/naturo_76_111m.webp 1x,
              ../src/images/okna_drevena/naturo_76_222m.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_drevena/naturo_76_100.webp 1x,
              ../src/images/okna_drevena/naturo_76_200.webp 2x
            "
            type="image/webp"
          />
          <img
            class="drevena__img"
            alt="naturo_76"
            src="../src/images/okna_drevena/naturo_76_100.webp"
          />
        </picture>
      </div>
    </div>
   <div class="drevena__color">
      <ul class="drevena-color__list list">
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/old-pine@1l.png 1x,
                  ../src/images/okna_drevena/color/old-pine44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/old-pine@1m.png 1x,
                  ../src/images/okna_drevena/color/old-pine36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/old-pine@1s.png 1x,
                  ../src/images/okna_drevena/color/old-pine30.png  2x
                "
              />
              <img
                class="color__image"
                alt="old-pine"
                src="../src/images/okna_drevena/color/old-pine@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">old-pine</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/stone-pine@1l.png 1x,
                  ../src/images/okna_drevena/color/stone-pine44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/stone-pine@1m.png 1x,
                  ../src/images/okna_drevena/color/stone-pine36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/stone-pine@1s.png 1x,
                  ../src/images/okna_drevena/color/stone-pine30.png  2x
                "
              />
              <img
                class="color__image"
                alt="stone-pine"
                src="../src/images/okna_drevena/color/stone-pine@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">stone-pine</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/wellnut@1l.png 1x,
                  ../src/images/okna_drevena/color/wellnut44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/wellnut@1m.png 1x,
                  ../src/images/okna_drevena/color/wellnut36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/wellnut@1s.png 1x,
                  ../src/images/okna_drevena/color/wellnut30.png  2x
                "
              />
              <img
                class="color__image"
                alt="wellnut"
                src="../src/images/okna_drevena/color/wellnut@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">wellnut</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1l.png 1x,
                  ../src/images/okna_drevena/color/wenge44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1m.png 1x,
                  ../src/images/okna_drevena/color/wenge36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1s.png 1x,
                  ../src/images/okna_drevena/color/wenge30.png  2x
                "
              />
              <img
                class="color__image"
                alt="wenge"
                src="../src/images/okna_drevena/color/wenge@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">wenge</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/assamela@1l.png 1x,
                  ../src/images/okna_drevena/color/assamela44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/assamela@1m.png 1x,
                  ../src/images/okna_drevena/color/assamela36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/assamela@1s.png 1x,
                  ../src/images/okna_drevena/color/assamela30.png  2x
                "
              />
              <img
                class="color__image"
                alt="assamela"
                src="../src/images/okna_drevena/color/assamela@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">assamela</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/cherry@1l.png 1x,
                  ../src/images/okna_drevena/color/cherry44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/cherry@1m.png 1x,
                  ../src/images/okna_drevena/color/cherry36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/cherry@1s.png 1x,
                  ../src/images/okna_drevena/color/cherry30.png  2x
                "
              />
              <img
                class="color__image"
                alt="cherry"
                src="../src/images/okna_drevena/color/cherry@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">cherry</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/oak@1l.png 1x,
                  ../src/images/okna_drevena/color/oak44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/oak@1m.png 1x,
                  ../src/images/okna_drevena/color/oak36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/oak@1s.png 1x,
                  ../src/images/okna_drevena/color/oak30.png  2x
                "
              />
              <img
                class="color__image"
                alt="oak"
                src="../src/images/okna_drevena/color/oak@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">oak</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/chestnut@1l.png 1x,
                  ../src/images/okna_drevena/color/chestnut44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/chestnut@1m.png 1x,
                  ../src/images/okna_drevena/color/chestnut36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/chestnut@1s.png 1x,
                  ../src/images/okna_drevena/color/chestnut30.png  2x
                "
              />
              <img
                class="color__image"
                alt="chestnut"
                src="../src/images/okna_drevena/color/chestnut@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">chestnut</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="drevena__container container">
    <div class="drevena__catalog">
      <div class="drevena__kind">
        <h3 class="drevena-pic__title">Naturo 88</h3>
        <p class="drevena__descr">0.74 Uw pro Ug=0.5(teplý rámeček)</p>
        <p class="drevena__descr">2 těsnění</p>
        <p class="drevena__descr">4 komor</p>
      </div>
      <div class="drevena__pic">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="
              ../src/images/okna_drevena/naturo_88_178l.webp 1x,
              ../src/images/okna_drevena/naturo_88_356l.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_drevena/naturo_88_111m.webp 1x,
              ../src/images/okna_drevena/naturo_88_222m.webp 2x
            "
            type="image/webp"
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_drevena/naturo_88_100.webp 1x,
              ../src/images/okna_drevena/naturo_88_200.webp 2x
            "
            type="image/webp"
          />
          <img
            class="drevena__img"
            alt="naturo_88"
            src="../src/images/okna_drevena/naturo_88_100.webp"
          />
        </picture>
      </div>
    </div>
   <div class="drevena__color">
      <ul class="drevena-color__list list">
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/old-pine@1l.png 1x,
                  ../src/images/okna_drevena/color/old-pine44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/old-pine@1m.png 1x,
                  ../src/images/okna_drevena/color/old-pine36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/old-pine@1s.png 1x,
                  ../src/images/okna_drevena/color/old-pine30.png  2x
                "
              />
              <img
                class="color__image"
                alt="old-pine"
                src="../src/images/okna_drevena/color/old-pine@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">old-pine</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/stone-pine@1l.png 1x,
                  ../src/images/okna_drevena/color/stone-pine44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/stone-pine@1m.png 1x,
                  ../src/images/okna_drevena/color/stone-pine36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/stone-pine@1s.png 1x,
                  ../src/images/okna_drevena/color/stone-pine30.png  2x
                "
              />
              <img
                class="color__image"
                alt="stone-pine"
                src="../src/images/okna_drevena/color/stone-pine@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">stone-pine</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/wellnut@1l.png 1x,
                  ../src/images/okna_drevena/color/wellnut44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/wellnut@1m.png 1x,
                  ../src/images/okna_drevena/color/wellnut36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/wellnut@1s.png 1x,
                  ../src/images/okna_drevena/color/wellnut30.png  2x
                "
              />
              <img
                class="color__image"
                alt="wellnut"
                src="../src/images/okna_drevena/color/wellnut@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">wellnut</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1l.png 1x,
                  ../src/images/okna_drevena/color/wenge44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1m.png 1x,
                  ../src/images/okna_drevena/color/wenge36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1s.png 1x,
                  ../src/images/okna_drevena/color/wenge30.png  2x
                "
              />
              <img
                class="color__image"
                alt="wenge"
                src="../src/images/okna_drevena/color/wenge@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">wenge</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/assamela@1l.png 1x,
                  ../src/images/okna_drevena/color/assamela44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/assamela@1m.png 1x,
                  ../src/images/okna_drevena/color/assamela36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/assamela@1s.png 1x,
                  ../src/images/okna_drevena/color/assamela30.png  2x
                "
              />
              <img
                class="color__image"
                alt="assamela"
                src="../src/images/okna_drevena/color/assamela@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">assamela</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/cherry@1l.png 1x,
                  ../src/images/okna_drevena/color/cherry44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/cherry@1m.png 1x,
                  ../src/images/okna_drevena/color/cherry36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/cherry@1s.png 1x,
                  ../src/images/okna_drevena/color/cherry30.png  2x
                "
              />
              <img
                class="color__image"
                alt="cherry"
                src="../src/images/okna_drevena/color/cherry@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">cherry</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/oak@1l.png 1x,
                  ../src/images/okna_drevena/color/oak44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/oak@1m.png 1x,
                  ../src/images/okna_drevena/color/oak36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/oak@1s.png 1x,
                  ../src/images/okna_drevena/color/oak30.png  2x
                "
              />
              <img
                class="color__image"
                alt="oak"
                src="../src/images/okna_drevena/color/oak@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">oak</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <source
                media="(min-width: 1024px)"
                srcset="
                  ../src/images/okna_drevena/color/chestnut@1l.png 1x,
                  ../src/images/okna_drevena/color/chestnut44.png  2x
                "
              />
              <source
                media="(min-width: 744px) and (max-width: 1023px)"
                srcset="
                  ../src/images/okna_drevena/color/chestnut@1m.png 1x,
                  ../src/images/okna_drevena/color/chestnut36.png  2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 743px)"
                srcset="
                  ../src/images/okna_drevena/color/chestnut@1s.png 1x,
                  ../src/images/okna_drevena/color/chestnut30.png  2x
                "
              />
              <img
                class="color__image"
                alt="chestnut"
                src="../src/images/okna_drevena/color/chestnut@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">chestnut</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="drevena__button container">
    <button class="drevena__btn btn" type="button" data-modal-main-open>
      Kontaktujte nás
    </button>
  </div>
</section>
