<footer class="footer">
  <div class="footer__container container">
    <nav class="footer__nav">
      <ul class="footer__list list">
        <li class="footer-nav__item">
          <a class="footer-nav__link link" href="./okna.html">Okna</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link link" href="#parapety">Parapety</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link link" href="#produkty">Produkty</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link link" href="#realizace">Realizace</a>
        </li>
        <li class="footer-nav__item">
          <a class="footer-nav__link link" href="#kontakty">Kontakty</a>
        </li>
      </ul>
    </nav>

    <address class="footer__address">
      <h3 class="footer__title">Kontakty</h3>
      <ul class="footer__list list">
        <!-- <li class="footer__item">
          <p class="footer__descr">Obchodní Oddělení</p>
        </li> -->
        <li class="footer__item">
          <a
            class="footer__link link"
            href="https://www.google.com/maps/place/Radni%C4%8Dn%C3%AD+237%2F5,+Rumburk+1,+408+01+Rumburk,+%D0%A7%D0%B5%D1%85%D1%96%D1%8F/@50.9495865,14.5547203,17z/data=!3m1!4b1!4m6!3m5!1s0x47090552cdb228d3:0x977d5f06d8436457!8m2!3d50.9495865!4d14.556909!16s%2Fg%2F11j_1p3qlh"
            target="_blank"
            rel="noopener noreferre"
            >Radniční 237/5 Rumburk</a
          >
        </li>
        <li class="footer__item">
          <a class="footer__phone link" href="tel:+42725830564"
            >+42 725 830 564</a
          >
        </li>

        <li class="footer__item">
          <a class="footer__mail link" href="mailto:info@example.com"
            >info@prosteokna.com</a
          >
        </li>
      </ul>
      <p class="footer-copyright">© 2021 All rights reserved</p>
    </address>
  </div>
</footer>
