<header class="header" id="header">
  <div class="header__container container">
    <ul class="header__list list">
      <li class="header__item">
        <a class="logo link" href="./index.html">
          <svg class="logo__icon" aria-label="Logotyp">
            <use href="./images/logo/icons.svg#proste-okna"></use>
          </svg>
        </a>
      </li>
      <li class="header__item">
        <a class="header__phone link" href="tel:+42725830564">
          <svg class="header-phone__icon">
            <use href="./images/logo/icons.svg#phone"></use>
          </svg>
          +42 725 830 564</a
        >
      </li>
    </ul>
    <div class="nav__container">
      <nav class="nav__header">
        <ul class="nav__list list">
          <li class="nav__item">
            <a class="nav__link link" href="./index.html#info">O nás</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="./okna.html">Okna</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="./parapety.html">Parapety</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="./index.html#projecty">Další projekty</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="./index.html#realizace"
              >Realizace</a
            >
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="./index.html#kontakty">Kontakty</a>
          </li>
        </ul>
      </nav>
      <button
        class="menu__btn js-open-modal"
        data-modal="1"
        type="button"
        aria-label="button for open mobile menu"
      >
        <svg class="mobile-menu__icon" width="30" height="30">
          <use href="./images/logo/icons_menu.svg#burger"></use>
        </svg>
      </button>
    </div>
  </div>
  <!--Mobile Menu-->
  <div class="mobile--block container">
    <div class="menu__container modal" data-modal="1" id="mobile-menu">
      <button
        type="button"
        class="modal__btn js-modal-close"
        aria-label="button for close mobile menu"
      >
        <svg width="30" height="30">
          <use href="./images/logo/icons_menu.svg#close"></use>
        </svg>
      </button>
      <nav class="mobile__nav">
        <ul class="mobile__list list">
          <li class="nav__item">
            <a class="nav__link link" href="./index.html#info">O nás</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="./okna.html">Okna</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="./parapety.html">Parapety</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="./index.html#projecty">Další projekty</a>
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="./index.html#realizace"
              >Realizace</a
            >
          </li>
          <li class="nav__item">
            <a class="nav__link link" href="./index.html#kontakty">Kontakty</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="overlay js-overlay-modal"></div>
</header>
