<section class="hero hero__overlay" id="hero">
  <div class="container">
    <div class="hero__container">
      <h1 class="hero__title">
        <a class="hero__link link" href="./index.html"
          ><span class="proste">Prostě</span>Okna</a
        >
      </h1>
      <p class="hero__descr">Kvalitní okna za přijatelné ceny</p>

      <div class="hero__button">
        <button class="hero__btn btn" type="button" data-modal-main-open>
          Kontaktujte nás
        </button>
      </div>
    </div>
  </div>
</section>
