<section class="hero hero__overlay" id="hero">
  <div class="container">
    <div class="hero__container">
      <h1 class="hero__title">
        <a class="hero__link link" href="./index.html"
          ><span class="proste">Prostě</span>Okna</a
        >
      </h1>
      <p class="hero__descr">Kvalitní okna za přijatelné ceny</p>
      <div class="window4u-ico-wrapper">
        <a href="https://prosteokna.window4u.cz" target="_blank">
          <div class="window4u-ico">
            <img
              src="https://prosteokna.window4u.cs/Layout/img/window4u_calc_ico.svg"
              alt="Window4u-ico"
            />
          </div>

          <div class="window4u-link">
            <div class="window4u-link-inside">
              <span class="window4u-link-text">Naceňte online</span
              ><span class="window4u-link-text-2"
                >prostřednictvím window4u</span
              >
            </div>
          </div>
        </a>
      </div>
      <div class="hero__button">
        <button class="hero__btn btn" type="button" data-modal-main-open>
          Kontaktujte nás
        </button>
      </div>
    </div>
  </div>
</section>
