<section class="hlinikova" id="hlinikova">
  <div class="hlinikova__container container">
    <h2 class="hlinikova__title drevena__title--current">Hliníková</h2>
    <div class="hlinikova__logo">
      <a class="hlinikova__link link" href="#">
        <svg class="hlinikova__icon" width="140" height="40">
          <use
            href="./images/okna_hlinikova/hlinikova_icons.svg#aliplast_logo"
          ></use>
        </svg>
      </a>
    </div>
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">Superial</h3>
        <p class="hlinikova__descr">1.15 Uw pro Ug=0,6 (hliníkový rámeček)</p>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
          type="image/webp"
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/superial_1m@1x.png 1x,
              ../src/images/okna_hlinikova/superial_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/superial_s@1x.png 1x,
              ../src/images/okna_hlinikova/superial_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="superial"
            src="../src/images/okna_hlinikova/superial_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="hlinikova__container container">
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">Genesis</h3>
        <p class="hlinikova__descr">1.1 Uw pro Ug=0,6 (hliníkový rámeček)</p>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
          type="image/webp"
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/genesis_1m@1x.png 1x,
              ../src/images/okna_hlinikova/genesis_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/genesis_s@1x.png 1x,
              ../src/images/okna_hlinikova/genesis_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="genesis"
            src="../src/images/okna_hlinikova/genesis_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="hlinikova__container container">
    <div class="hlinikova__logo">
      <a class="hlinikova__link link" href="#">
        <svg class="hlinikova__icon" width="157" height="40">
          <use href="./images/okna_hlinikova/hlinikova_icons.svg#aluprof"></use>
        </svg>
      </a>
    </div>
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">MB-86</h3>
        <p class="hlinikova__descr">1.1 Uw pro Ug=0,6 (hliníkový rámeček)</p>
        <!-- <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p> -->
      </div>
      <div class="hlinikova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
          type="image/webp"
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/mb_86_1m@1x.png 1x,
              ../src/images/okna_hlinikova/mb_86_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/mb_86_s@1x.png 1x,
              ../src/images/okna_hlinikova/mb_86_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="mb_86"
            src="../src/images/okna_hlinikova/mb_86_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="hlinikova__container container">
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">MB-104 Passive Windows</h3>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
          type="image/webp"
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/mb_104_1m@1x.png 1x,
              ../src/images/okna_hlinikova/mb_104_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/mb_104_s@1x.png 1x,
              ../src/images/okna_hlinikova/mb_104_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="mb_104"
            src="../src/images/okna_hlinikova/mb_104_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="hlinikova__container container">
    <div class="hlinikova__logo">
      <picture>
        <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
          
        /> -->

        <source
          media="(min-width: 744px)"
          srcset="
            ../src/images/okna_hlinikova/deceuninck_1m.png   1x,
            ../src/images/okna_hlinikova/deceuninck_1@2m.png 2x
          "
          <source
          media="(min-width: 390px)"
          srcset="
            ../src/images/okna_hlinikova/deceuninck_1m.png   1x,
            ../src/images/okna_hlinikova/deceuninck_1@2s.png 2x
          "
        />
        <img
          class="hlinik__img"
          alt="deceuninck"
          src="../src/images/okna_hlinikova/deceuninck_1m.png"
        />
      </picture>
    </div>
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">88-standard</h3>
        <p class="hlinikova__descr">0.92 Uw pro Ug=0,6 (hliníkový rámeček)</p>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
          type="image/webp"
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/decalu_94_1m@1x.png 1x,
              ../src/images/okna_hlinikova/decalu_94_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/decalu88_s@1x.png 1x,
              ../src/images/okna_hlinikova/decalu88_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="decalu_94"
            src="../src/images/okna_hlinikova/decalu88_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="hlinikova__container container">
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">94 Retro</h3>
        <p class="hlinikova__descr">0.93 Uw pro Ug=0,6 (hliníkový rámeček)</p>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
          type="image/webp"
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/decalu_94_1m@1x.png 1x,
              ../src/images/okna_hlinikova/decalu_94_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/decalu_94_s@1x.png 1x,
              ../src/images/okna_hlinikova/decalu_94_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="decalu"
            src="../src/images/okna_hlinikova/decalu_94_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
