<section class="hlinikova" id="hlinikova">
  <div class="hlinikova__container container">
    <h2 class="hlinikova__title drevena__title--current">Hliníková</h2>
    <div class="hlinikova__logo">
      <a class="hlinikova__link link" href="#">
        <svg class="hlinikova-aliplast__icon">
          <use
            href="./images/okna_hlinikova/hlinikova_icons.svg#aliplast_logo"
          ></use>
        </svg>
      </a>
    </div>
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">Superial</h3>
        <p class="hlinikova__descr">stavební hloubka 75 mm</p>
        <p class="hlinikova__descr">zasklívací pakety do 69 mm</p>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="
              ../src/images/okna_hlinikova/superial_1l@1x.png 1x,
              ../src/images/okna_hlinikova/superial_1l@2x.png 2x
            "
          />

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/superial_1m@1x.png 1x,
              ../src/images/okna_hlinikova/superial_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/superial_s@1x.png 1x,
              ../src/images/okna_hlinikova/superial_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="superial"
            src="../src/images/okna_hlinikova/superial_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="hlinikova__container container">
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">Genesis</h3>
        <p class="hlinikova__descr">stavební hloubka 75 mm</p>
        <p class="hlinikova__descr">zasklívací pakety do 69 mm</p>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="
              ../src/images/okna_hlinikova/genesis_1l@1x.png 1x,
              ../src/images/okna_hlinikova/genesis_1l@2x.png 2x
            "
          />

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/genesis_1m@1x.png 1x,
              ../src/images/okna_hlinikova/genesis_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/genesis_s@1x.png 1x,
              ../src/images/okna_hlinikova/genesis_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="genesis"
            src="../src/images/okna_hlinikova/genesis_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="hlinikova__container container">
    <div class="hlinikova__logo">
      <a class="hlinikova__link link" href="#">
        <svg class="hlinikova-aluprof__icon">
          <use href="./images/okna_hlinikova/hlinikova_icons.svg#aluprof"></use>
        </svg>
      </a>
    </div>
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">MB-86N</h3>
        <p class="hlinikova__descr">stavební hloubka 77 mm</p>
        <p class="hlinikova__descr">zasklívací pakety do 70 mm</p>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="
              ../src/images/okna_hlinikova/mb_86_1l@1x.png 1x,
              ../src/images/okna_hlinikova/mb_86_1l@2x.png 2x
            "
          />

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/mb_86_1m@1x.png 1x,
              ../src/images/okna_hlinikova/mb_86_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/mb_86_s@1x.png 1x,
              ../src/images/okna_hlinikova/mb_86_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="mb_86"
            src="../src/images/okna_hlinikova/mb_86_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="hlinikova__container container">
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">MB-104 Passive Windows</h3>
        <p class="hlinikova__descr">stavební hloubka 77 mm</p>
        <p class="hlinikova__descr">zasklívací pakety do 70 mm</p>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="
              ../src/images/okna_hlinikova/mb_104_1l@1x.png 1x,
              ../src/images/okna_hlinikova/mb_104_1l@2x.png 2x
            "
          />

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/mb_104_1m@1x.png 1x,
              ../src/images/okna_hlinikova/mb_104_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/mb_104_s@1x.png 1x,
              ../src/images/okna_hlinikova/mb_104_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="mb_104"
            src="../src/images/okna_hlinikova/mb_104_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="hlinikova__container container">
    <div class="hlinikova__logo">
      <picture>
        <source
          media="(min-width: 1024px)"
          srcset="
            ../src/images/okna_hlinikova/deceuninck_1l.png   1x,
            ../src/images/okna_hlinikova/deceuninck_1@2l.png 2x
          "
        />

        <source
          media="(min-width: 744px)"
          srcset="
            ../src/images/okna_hlinikova/deceuninck_1m.png   1x,
            ../src/images/okna_hlinikova/deceuninck_1@2m.png 2x
          "
          <source
          media="(min-width: 390px)"
          srcset="
            ../src/images/okna_hlinikova/deceuninck_1m.png   1x,
            ../src/images/okna_hlinikova/deceuninck_1@2s.png 2x
          "
        />
        <img
          class="hlinik__img"
          alt="deceuninck"
          src="../src/images/okna_hlinikova/deceuninck_1m.png"
        />
      </picture>
    </div>
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">88-standard</h3>
        <p class="hlinikova__descr">stavební hloubka 88 mm</p>
        <p class="hlinikova__descr">zasklívací pakety do 68 mm</p>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="
              ../src/images/okna_hlinikova/decalu_88_1l@1x.png 1x,
              ../src/images/okna_hlinikova/decalu_88_1l@2x.png 2x
            "
          />

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/decalu_88_1m@1x.png 1x,
              ../src/images/okna_hlinikova/decalu_88_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/decalu88_s@1x.png 1x,
              ../src/images/okna_hlinikova/decalu_88_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="decalu_94"
            src="../src/images/okna_hlinikova/decalu88_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="hlinikova__container container">
    <div class="hlinikova__catalog">
      <div class="hlinikova__kind">
        <h3 class="hlinikova-pic__title">94 Retro</h3>
        <p class="hlinikova__descr">stavební hloubka 94 mm</p>
        <p class="hlinikova__descr">zasklívací pakety do 71 mm</p>
        <p class="hlinikova__descr">2 těsnění</p>
        <p class="hlinikova__descr">3 komor</p>
      </div>
      <div class="hlinikova__pic">
        <picture>
          <source
            media="(min-width: 1024px)"
            srcset="
              ../src/images/okna_hlinikova/decalu_94_1l@1x.png 1x,
              ../src/images/okna_hlinikova/decalu_94_1l@2x.png 2x
            "
          />

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_hlinikova/decalu_94_1m@1x.png 1x,
              ../src/images/okna_hlinikova/decalu_94_1m@2x.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_hlinikova/decalu_94_s@1x.png 1x,
              ../src/images/okna_hlinikova/decalu_94_s@2x.png 2x
            "
          />
          <img
            class="hlinikova__img"
            alt="decalu"
            src="../src/images/okna_hlinikova/decalu_94_s@1x.png"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
