<section class="info" id="info">
  <div class="info__container container">
    <h2 class="info__title">Vítejte na stránkách Prostěokna.cz</h2>
    <p class="info__descr">Jsme dodavatel nejen oken za velmi příjemné ceny</p>
    <div class="info__about">
      <h3 class="info-descr__title">
        Kompletní nabídka otvorových výplní na jednom místě.
      </h3>
      <p class="info__descr">
        Nabízíme okna, dveře, sítě proti hmyzu, vrata, posuvné a fasádní systémy
        – v mnoha barvách, systémech a s řadou specializovaného příslušenství.
        Kromě toho máme k dispozici kompletní nabídku slunečních clon a plotů –
        jak ocelových, tak hliníkových. Všechny výrobky vznikají s využitím
        komponentů značkových, evropských dodavatelů (Aluprof, Aluplast,
        Salamander, Aliplast, Beck+Heun, Exte, Somfy, Selve). Nejvyšší úroveň
        bezpečnosti, vynikající zvuková izolace a záruka bezproblémové funkce po
        mnoho let – to jsou některé z vlastností, které mají naše okna.
      </p>
    </div>
    <div class="info__about">
      <h3 class="info-descr__title">
        Nabízíme jak plastová a hliníková, tak dřevěná okna.
      </h3>
      <p class="info__descr">
        Dostupná v několika desítkách barev lamin se dokonale sladí s jakoukoliv
        fasádou – jak moderní, tak klasickou.
      </p>
    </div>
  </div>
</section>
