<section class="kontakty" id="kontakty">
  <div class="kontakty__container container">
    <h2 class="kontakty__title">Kontakty</h2>
    <ul class="kontakty__list list">
      <li class="kontakty__item">
        <h3 class="kontakty__descr">Obchodní Oddělení</h3>
        <p class="kontakty__descr">Telefon: 725 830 564</p>
      </li>
      <li>
        <h4 class="kontakty__descr">Vzorkovna/prodejna</h4>
        <p class="kontakty__descr">Radniční 237/5 Rumburk</p>
      </li>
    </ul>

    <div class="kontakty__info">
      <h3 class="kontakty__descr">Společnost:</h3>
      <p class="kontakty__descr">VIP program s.r.o.</p>
      <h4 class="kontakty__descr">IČO:</h4>
      <p class="kontakty__descr">10861548</p>
      <h5 class="kontakty__descr">DIČ (DPH):</h5>
      <a
        class="kontakty__link link"
        target="_blank"
        rel="noopener noreferre"
        href="https://rejstrik-firem.kurzy.cz/10861548/vip-program-sro/registrace-dph/"
        >CZ10861548</a
      >
    </div>
    <div class="kontakty__button container">
      <button class="kontakty__btn btn" type="button" data-modal-main-opensec>
        Kontaktujte nás
      </button>
    </div>
  </div>
</section>
