<section class="plastova" id="plastova">
  <div class="plastova__container container">
    <h2 class="plastova__title plastova__title--current">Plastová</h2>
    <div class="plastova__logo">
      <a class="plastova__link link" href="#">
        <svg class="plastova__icon" width="78" height="40">
          <use href="./images/okna_plastova/logo_icons.svg#aluplast"></use>
        </svg>
      </a>
    </div>
    <div class="plastova__catalog">
      <div class="plastova__kind">
        <h3 class="plastova-pic__title">Ideal 4000</h3>
        <p class="plastova__descr">1.0 Uw pro Ug=0.7 (teplý rámeček)</p>
        <p class="plastova__descr">2 těsnění</p>
        <p class="plastova__descr">5 komor</p>
        <p class="plastova__descr">R Renovace</p>
        <p class="plastova__descr">A Aluskín</p>
      </div>
      <div class="plastova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
         
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_plastova/ideal_4000_1@1m.png 1x,
              ../src/images/okna_plastova/ideal_4000_1@2m.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_plastova/ideal_4000_1@1s.png 1x,
              ../src/images/okna_plastova/ideal_4000_1@2s.png 2x
            "
          />
          <img
            class="plastova__img"
            alt="ideal 4000"
            src="../src/images/okna_plastova/ideal_4000_1@1s.png"
          />
        </picture>
      </div>
    </div>
    <div class="plastova__color">
      <ul class="plastova-color__list list">
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_01@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_01@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_01@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_01@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-01"
                src="../src/images/okna_plastova/color/ap_01@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-01</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_02@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_02@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_02@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_02@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-02"
                src="../src/images/okna_plastova/color/ap_02@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-02</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_06@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_06@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_06@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_06@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-06"
                src="../src/images/okna_plastova/color/ap_06@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-06</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_11@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_11@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1s.png  1x,
                  ../src/images/okna_plastova/color/ap_11@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-11"
                src="../src/images/okna_plastova/color/ap_11@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-11</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_19@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_19@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_19@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_19@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-19"
                src="../src/images/okna_plastova/color/ap_19@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">AP-19</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_20@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_20@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_20@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_20@2s.png 2x
                "
              />
              <img
                class="subscribe__image"
                alt="ap-20"
                src="../src/images/okna_plastova/color/ap_20@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-20</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_21@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_21@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_21@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_21@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-21"
                src="../src/images/okna_plastova/color/ap_21@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-21</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_23@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_23@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_23@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_23@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-23"
                src="../src/images/okna_plastova/color/ap_23@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-23</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="plastova__container container">
    <div class="plastova__catalog">
      <div class="plastova__kind">
        <h3 class="plastova-pic__title">Ideal 5000</h3>
        <p class="plastova__descr">0.94 Uw pro Ug=0.7 (teplý rámeček)</p>
        <p class="plastova__descr">3 těsnění</p>
        <p class="plastova__descr">5 komor</p>
        <p class="plastova__descr">R Renovace</p>
        <p class="plastova__descr">A Aluskín</p>
      </div>
      <div class="plastova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
         
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_plastova/ideal_5000_2@1m.png 1x,
              ../src/images/okna_plastova/ideal_5000_2@2m.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_plastova/ideal_5000_2@1s.png 1x,
              ../src/images/okna_plastova/ideal_5000_2@2s.png 2x
            "
          />
          <img
            class="plastova__img"
            alt="ideal 5000"
            src="../src/images/okna_plastova/ideal_5000_2@1s.png"
          />
        </picture>
      </div>
    </div>
    <div class="plastova__color">
      <ul class="plastova-color__list list">
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_01@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_01@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_01@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_01@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-01"
                src="../src/images/okna_plastova/color/ap_01@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-01</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_02@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_02@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_02@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_02@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-02"
                src="../src/images/okna_plastova/color/ap_02@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-02</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_06@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_06@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_06@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_06@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-06"
                src="../src/images/okna_plastova/color/ap_06@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-06</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_11@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_11@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1s.png  1x,
                  ../src/images/okna_plastova/color/ap_11@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-11"
                src="../src/images/okna_plastova/color/ap_11@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-11</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_19@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_19@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_19@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_19@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-19"
                src="../src/images/okna_plastova/color/ap_19@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">AP-19</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_20@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_20@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_20@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_20@2s.png 2x
                "
              />
              <img
                class="subscribe__image"
                alt="ap-20"
                src="../src/images/okna_plastova/color/ap_20@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-20</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_21@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_21@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_21@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_21@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-21"
                src="../src/images/okna_plastova/color/ap_21@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-21</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_23@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_23@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_23@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_23@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-23"
                src="../src/images/okna_plastova/color/ap_23@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-23</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="plastova__container container">
    <div class="plastova__catalog">
      <div class="plastova__kind">
        <h3 class="plastova-pic__title">Ideal 8000</h3>
        <p class="plastova__descr">0.74 Uw pro Ug=0.5 (teplý rámeček)</p>
        <p class="plastova__descr">3 těsnění</p>
        <p class="plastova__descr">6 komor</p>
        <p class="plastova__descr">A Aluskín</p>
      </div>
      <div class="plastova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
         
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_plastova/ideal_8000_1@1m.png 1x,
              ../src/images/okna_plastova/ideal_8000_1@2m.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_plastova/ideal_8000_1@1s.png 1x,
              ../src/images/okna_plastova/ideal_8000_1@2s.png 2x
            "
          />
          <img
            class="plastova__img"
            alt="ideal 8000"
            src="../src/images/okna_plastova/ideal_8000_1@1s.png"
          />
        </picture>
      </div>
    </div>
    <div class="plastova__color">
      <ul class="plastova-color__list list">
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_01@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_01@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_01@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_01@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-01"
                src="../src/images/okna_plastova/color/ap_01@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-01</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_02@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_02@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_02@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_02@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-02"
                src="../src/images/okna_plastova/color/ap_02@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-02</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_06@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_06@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_06@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_06@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-06"
                src="../src/images/okna_plastova/color/ap_06@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-06</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_11@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_11@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_drevena/color/wenge@1s.png  1x,
                  ../src/images/okna_plastova/color/ap_11@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-11"
                src="../src/images/okna_plastova/color/ap_11@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-11</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_19@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_19@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_19@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_19@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-19"
                src="../src/images/okna_plastova/color/ap_19@1s.png"
              />
            </picture>
          </div>
          <p class="drevena-color__name">AP-19</p>
        </li>
        <li class="drevena-color__item">
          <div class="drevena__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_20@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_20@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_20@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_20@2s.png 2x
                "
              />
              <img
                class="subscribe__image"
                alt="ap-20"
                src="../src/images/okna_plastova/color/ap_20@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-20</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_21@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_21@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_21@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_21@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-21"
                src="../src/images/okna_plastova/color/ap_21@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-21</p>
        </li>
        <li class="plastova-color__item">
          <div class="plastova__thumb">
            <picture>
              <!-- <source
              media="(min-width: 1280px)"
              srcset="
                ./images/favorites/pizza_lg@1x.png 1x,
                ./images/favorites/pizza_lg@2x.png 2x
              "
            /> -->
              <source
                media="(min-width: 744px) and (max-width: 1279px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_23@1m.png 1x,
                  ../src/images/okna_plastova/color/ap_23@2m.png 2x
                "
              />
              <source
                media="(min-width: 320px) and (max-width: 744px)"
                srcset="
                  ../src/images/okna_plastova/color/ap_23@1s.png 1x,
                  ../src/images/okna_plastova/color/ap_23@2s.png 2x
                "
              />
              <img
                class="color__image"
                alt="ap-23"
                src="../src/images/okna_plastova/color/ap_23@1s.png"
              />
            </picture>
          </div>
          <p class="plastova-color__name">AP-23</p>
        </li>
      </ul>
    </div>
  </div>

  <div class="plastova__container container">
    <div class="plastova__logo">
      <a class="plastova__link link" href="#">
        <svg class="plastova__icon" width="98" height="40">
          <use href="./images/okna_plastova/logo_icons.svg#ekosun_logo_1"></use>
        </svg>
      </a>
    </div>
    <div class="plastova__catalog catalog">
      <div class="plastova__kind">
        <h3 class="plastova-pic__title">EKOSUN 6</h3>
        <p class="plastova__descr">0.79 Uw pro Ug=0.5 (teplý rámeček)</p>
        <p class="plastova__descr">2 těsnění</p>
        <p class="plastova__descr">6 komor</p>
      </div>
      <div class="plastova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
         
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_plastova/es6_cl_8210@1m.png 1x,
              ../src/images/okna_plastova/es6_cl_8210@2m.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_plastova/es6_cl_8210@1s.png 1x,
              ../src/images/okna_plastova/es6_cl_8210@2s.png 2x
            "
          />
          <img
            class="plastova__img"
            alt="ekosun 6"
            src="../src/images/okna_plastova/es6_cl_8210@1s.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="plastova__container container">
    <div class="plastova__catalog catalog">
      <div class="plastova__kind">
        <h3 class="plastova-pic__title">EKOSUN 7</h3>
        <p class="plastova__descr">0.79 Uw pro Ug=0.5 (teplý rámeček)</p>
        <p class="plastova__descr">2 těsnění</p>
        <p class="plastova__descr">6 komor</p>
      </div>
      <div class="plastova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
         
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_plastova/es7_cl_8312@1m.png 1x,
              ../src/images/okna_plastova/es7_cl_8312@2m.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_plastova/es7_cl_8312@1s.png 1x,
              ../src/images/okna_plastova/es7_cl_8312@2s.png 2x
            "
          />
          <img
            class="plastova__img"
            alt="ekosun 7"
            src="../src/images/okna_plastova/es7_cl_8312@1s.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="plastova__container container">
    <div class="plastova__logo">
      <a class="plastova__link link" href="#">
        <svg class="plastova__icon" width="187" height="40">
          <use href="./images/okna_plastova/logo_icons.svg#salamander"></use>
        </svg>
      </a>
    </div>
    <div class="plastova__catalog catalog">
      <div class="plastova__kind">
        <h3 class="plastova-pic__title">bluEvolution 82</h3>
        <p class="plastova__descr">0.84 Uw když Ug=0.5 (hlinková vložka)</p>
        <p class="plastova__descr">3 těsnění</p>
        <p class="plastova__descr">6 komor</p>
      </div>
      <div class="plastova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
         
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_plastova/salamander_bluev_1@1m.png 1x,
              ../src/images/okna_plastova/salamander_bluev_1@2m.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_plastova/salamander_bluev_1@1s.png 1x,
              ../src/images/okna_plastova/salamander_bluev_1@2s.png 2x
            "
          />
          <img
            class="plastova__img"
            alt="bluEvolution 82"
            src="../src/images/okna_plastova/salamander_bluev_1@1s.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="plastova__container container">
    <div class="plastova__catalog catalog">
      <div class="plastova__kind">
        <h3 class="plastova-pic__title">bluEvolution 92</h3>
        <p class="plastova__descr">0.83 Uw když Ug=0.5 (hlinková vložka)</p>
        <p class="plastova__descr">3 těsnění</p>
        <p class="plastova__descr">6 komor</p>
      </div>
      <div class="plastova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
         
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_plastova/bluevo92_cl_2@1m.png 1x,
              ../src/images/okna_plastova/bluevo92_cl_2@2m.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_plastova/bluevo92_cl_2@1s.png 1x,
              ../src/images/okna_plastova/bluevo92_cl_2@2s.png 2x
            "
          />
          <img
            class="plastova__img"
            alt="bluEvolution 92"
            src="../src/images/okna_plastova/bluevo92_cl_2@1s.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="plastova__container container">
    <div class="plastova__logo">
      <a class="plastova__link link" href="#">
        <svg class="plastova__icon" width="128" height="40">
          <use href="./images/okna_plastova/logo_icons.svg#gealan"></use>
        </svg>
      </a>
    </div>
    <div class="plastova__catalog catalog">
      <div class="plastova__kind">
        <h3 class="plastova-pic__title">GEALAN 8000</h3>
        <p class="plastova__descr">1.3 Uw, když Ug = 1,1(hliníková vložka)</p>
        <p class="plastova__descr">3 těsnění</p>
        <p class="plastova__descr">5/6 komor</p>
      </div>
      <div class="plastova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
         
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_plastova/s8000_cl_1@1m.png 1x,
              ../src/images/okna_plastova/s8000_cl_1@2m.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_plastova/s8000_cl_1@1s.png 1x,
              ../src/images/okna_plastova/s8000_cl_1@2s.png 2x
            "
          />
          <img
            class="plastova__img"
            alt="GEALAN 8000"
            src="../src/images/okna_plastova/s8000_cl_1@1s.png"
          />
        </picture>
      </div>
    </div>
  </div>

  <div class="plastova__container container">
    <div class="plastova__catalog catalog">
      <div class="plastova__kind">
        <h3 class="plastova-pic__title">GEALAN 9000</h3>
        <p class="plastova__descr">0.83 Uw když Ug = 0,5(hliníková vložka)</p>
        <p class="plastova__descr">3 těsnění</p>
        <p class="plastova__descr">6 komor</p>
      </div>
      <div class="plastova__pic">
        <picture>
          <!-- <source
          media="(min-width: 1280px)"
          srcset="
            ../src/images/offerings/apledesk_1x.webp 1x,
            ../src/images/offerings/apledesk_2x.webp 2x
          "
         
        /> -->

          <source
            media="(min-width: 744px)"
            srcset="
              ../src/images/okna_plastova/s9000_cl_1@1m.png 1x,
              ../src/images/okna_plastova/s9000_cl_1@2m.png 2x
            "
          />

          <source
            media="(min-width: 390px)"
            srcset="
              ../src/images/okna_plastova/s9000_cl_1@1s.png 1x,
              ../src/images/okna_plastova/s9000_cl_1@2s.png 2x
            "
          />
          <img
            class="plastova__img"
            alt="GEALAN 9000"
            src="../src/images/okna_plastova/s9000_cl_1@1s.png"
          />
        </picture>
      </div>
    </div>
  </div>
</section>
