<section class="produkty" id="produkty">
    <div class="produkty__container container">
        <h2 class="produkty__title">Produkty</h2>
        <ul class="produkty__list list">
            <li class="produkty__item">
                <div class="produkty__thumb">
                    <a class="produkty__link link" target="_blank" rel="noopener noreferre"
                        href="https://www.prostedvere.cz">
                        <svg width="38" height="47" aria-label="Logotyp">
                            <use class="produkty__icon" href="./images/logo/proste_dvere.svg#dvere"></use>
                </div>
                <a class="produkty__descr" target="_blank" rel="noopener noreferre"
                    href="https://www.prostedvere.cz">Prostě dveře</a>
            </li>
            <li class="produkty__item">
                <div class="produkty__thumb">
                    <a class="produkty__link link" target="_blank" rel="noopener noreferre"
                        href="https://www.prostemujdum.cz">
                        <svg width="38" height="47" aria-label="Logotyp">
                            <use class="produkty__icon" href="./images/logo/icons.svg#proste-okna"></use>
                </div>
                <a class="produkty__descr" target="_blank" rel="noopener noreferre"
                    href="https://www.prostemujdum.cz">Prostě můj dům</a>
            </li>
            <li class="produkty__item">
                <div class="produkty__thumb">
                    <a class="produkty__link link" target="_blank" rel="noopener noreferre"
                        href="https://www.prostedvere.cz">
                        <svg width="38" height="47" aria-label="Logotyp">
                            <use class="produkty__icon" href="./images/logo/icons.svg#proste-okna"></use>
                </div>
                <a class="produkty__descr" target="_blank" rel="noopener noreferre"
                    href="https://www.prostestrecha.cz ">Prostě Střecha</a>

            </li>
        </ul>
    </div>
</section>