<section class="projecty" id="projecty">
    <div class="projecty__container container">
        <h2 class="projecty__title">Další projekty</h2>
        <ul class="projecty__list list">
            <li class="projecty__item">
                <div class="projecty__thumb">
                    <a class="projecty__link link" target="_blank" rel="noopener noreferre"
                        href="https://www.prostedvere.cz">
                        <svg class="projecty__icon" aria-label="Logotyp">
                            <use class="projecty__icon" href="./images/logo/proste_dvere.svg#dvere"></use>
                </div>
                <a class="projecty__descr" target="_blank" rel="noopener noreferre"
                    href="https://www.prostedvere.cz">Prostě dveře </a>
                    <p class="projecty__descr">(aktualizujeme)</p>
            </li>
            <li class="projecty__item">
                <div class="projecty__thumb">
                    <a class="projecty__link link" target="_blank" rel="noopener noreferre"
                        href="https://www.prostemujdum.cz">
                        <svg class="projecty__icon" aria-label="Logotyp">
                            <use class="projecty__icon" href="./images/logo/muj_dum.svg#moj_dum"></use>
                </div>
                <a class="projecty__descr" target="_blank" rel="noopener noreferre"
                    href="https://www.prostemujdum.cz">Prostě můj dům</a>
                    <p class="projecty__descr">(aktualizujeme)</p>
            </li>
            <li class="projecty__item">
                <div class="projecty__thumb">
                    <a class="projecty__link link" target="_blank" rel="noopener noreferre"
                        href="https://prostenasypka.cz ">
                        <svg class="projecty__icon" aria-label="Logotyp">
                            <use class="projecty__icon" href="./images/logo/icons.svg#proste-okna"></use>
                </div>
                <a class="projecty__descr" target="_blank" rel="noopener noreferre"
                    href="https://prostenasypka.cz ">Prostě Násypka</a>
                    <p class="projecty__descr">(aktualizujeme)</p>

            </li>
        </ul>
    </div>
</section>