    <section class="realizace" id="realizace">
        <div class="realizace__container">
          <h1 class="realizace__title">Realizace</h1>
          <div class="realizace__slider">
            <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_1.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_2.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_3.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_4.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_5.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_6.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_7.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_8.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_9.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_10.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_11.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_12.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_13.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_14.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_15.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_16.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_17.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_18.jpg" alt="">
            </div>
             <div class="slider__item">
                <img class="slider__img" src="./images/realizace/img_19.jpg" alt="">
            </div>
          </div>
        </div>
      </section>