<section class="realizace" id="realizace">
  <div class="realizace__container container">
    <h1 class="realizace__title">Realizace</h1>
    <div class="realizace__gallery gallery">
      <ul class="gallery__list list">
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_1_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_1@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_2_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_2@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_3_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_3@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_4_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_4@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_5_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_5@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_6_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_6@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_7_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_7@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_8_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_8@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_9_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_9@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_10_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_10@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_11_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_11@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_12_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_12@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_13_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_13@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_14_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_14@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_15_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_15@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_16_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_16@2__110.jpg"
              alt=""
            />
          </a>
        </li>
        <li class="gallery__item">
          <a
            class="gallery__link link"
            href="./images/realizace/img_17_1024.jpg"
          >
            <img
              class="gallery__image"
              src="./images/realizace/img_17@2__110.jpg"
              alt=""
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
