<section class="realizace" id="realizace">
  <div class="realizace__container wrapper">
    <h1 class="realizace__title">Realizace</h1>
    <div class="image-slider swiper-container">
      <div class="image-slider__wrapper swiper-wrapper">
        <div class="swiper-slide image-slider__slide">
          <div class="image-slider__image"></div>
          <img src="./images/realizace/img_1.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_2.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_3.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_4.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_5.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_6.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_7.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_8.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_9.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_10.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_11.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_12.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_13.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_14.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_15.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_16.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_17.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_18.jpg" alt="fotografie" />
        </div>
        <div class="swiper-slide image-slider__slide">
          <img src="./images/realizace/img_19.jpg" alt="fotografie" />
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
  </div>
</section>
