.btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 21px;
  line-height: calc(29 / 21);
  max-width: 388px;

  // padding: 11.5px 94px;
  border: none;

  background-color: var(--btn-bg-color);
  color: var(--btn-txt-color);
  cursor: pointer;
  border-radius: 2px;

  @media screen and (max-width: 389px) {
    padding: 11.5px 55px;
  }

  @media screen and (min-width: 390px) {
    padding: 11.5px 94px;
  }
}
