.container {
  padding-left: 12px;
  padding-right: 12px;
  // padding-top: 20px;
  // padding-bottom: 20px;
  margin-left: auto;
  margin-right: auto;

  // border: 1px solid red;

  @media screen and (min-width: 390px) {
    width: 390px;
  }

  @media screen and (min-width: 744px) {
    padding-left: 111px;
    padding-right: 110px;
    width: 744px;
  }

  @media screen and (min-width: 1280px) {
    padding-left: 16px;
    padding-right: 16px;
    width: 1280px;
  }
}
