.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;

  background-color: var(--backdrop-col);

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

 .backdrop.is-hidden .modal-main {
    transform: translate(-50%, -50%) scale(0.9);
  }
// - - - - - - - - - - - - - - - - - - - - - -

.modal-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 320px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 2px;

  background-color: var(--modal-bg);

  @media (min-width: 768px) {
    width: 458px;
  }
}
.modal__form {
  text-align: start;

  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.modal__title {
  //   font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: calc(30 / 22);
  text-align: center;

  padding-top: 52px;
  padding-left: 12px;
  margin-bottom: 20px;

  color: var(--main-txt-color);

  @media screen and (min-width: 1024px) {
    padding-left: 0;
  }
}

.modal-label__text {
  //   font-family: var(--secondary-font);
  font-weight: 600;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: var(--main-txt-color);
  font-style: normal;

  padding-left: 20px;
  margin-bottom: 9px;

    @media screen and (min-width: 1024px) {
    padding-left: 30px;
  }
}

// .modal-label__errorText {
//   opacity: 0;

//   display: flex;

//   margin-top: 1.42px;

//   //   font-family: 'Roboto';
//   font-style: normal;
//   font-weight: 600;
//   font-size: 11px;
//   line-height: 140%;

//   color: var(--error-border);

//   margin-bottom: 9px;
// }

// .error-img {
//   margin-top: 2px;
//   margin-right: 4px;
//   margin-left: 32px;

//   width: 12px;
//   height: 12px;
// }

.modal-label__input {
  min-width: 280px;
  height: 48px;

  margin-left: 20px;
  padding-left: 8px;

  border-radius: 2px;
  border-color: var(--common-border-col);
  outline: none;
  border: 1px solid transparent;

  background-color: var(--main-bg-color);

  color: var(--main-txt-color);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: var(--common-border-col);
  }
  &:focus-within {
    color: var(--main-txt-color);
    border-color: var(--common-border-col);
  }

  // &:invalid {
  //   border-color: var(--error-border);
  // }
  // &:invalid + .modal-label__errorText {
  //   opacity: 1;
  // }

  @media (min-width: 768px) {
    min-width: 394px;
    height: 48px;
  }

   @media screen and (min-width: 1024px) {
     margin-left: 30px;
  }
}

.comment {
  min-width: 280px;

  margin-left: 20px;
  margin-bottom: 32px;
  padding-top: 12px;
  padding-left: 8px;

  border-radius: 2px;
  border-color: var(--common-border-col);
  outline: none;
  border: 1px solid transparent;

  background-color: var(--main-bg-color);

  color: var(--modal-placeholder-col);

  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    border-color: var(--common-border-col);
  }
  &:focus {
    color: var(--main-txt-color);
    border-color: var(--common-border-col);
  }

  // &:invalid {
  //   border-color: var(--error-border);
  // }
  // &:invalid + .modal-label__errorText {
  //   opacity: 1;
  // }

  @media (min-width: 768px) {
    min-width: 394px;
  }

   @media screen and (min-width: 1024px) {
     margin-left: 30px;
  }
}

.modal__closeBtn {
  position: absolute;

  display: flex;
  align-items: center;

  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  cursor: pointer;

  border: none;
  //   border-radius: 50%;

  background-color: inherit;

  transition: var(--animations);

  &:hover,
  &:focus {
    background-color: var(--common-border-col);
    fill: var(--main-bg-color);
  }
}

.modal_closeBtnIcon {
  width: 18px;
  height: 18px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__submit {
  width: 106px;
  height: 40px;

  margin-bottom: 32px;

  border: 2px solid var(--common-border-col);
  border-radius: 2px;

  cursor: pointer;

  //   font-family: 'Roboto';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(21 / 14);

  color: var(--btn-txt-color);

  background-color: var(--submit-btn-bg);

  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    border: 2px solid var(--common-border-col);
    border-radius: 2px;
    background-color: var(--submit-btn-bg);
  }
}
