.hero {
  // @extend %section;
  background-color: var(--main-bg-color);

  text-align: center;
}

.hero__container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  padding-top: 355px;
  // margin-bottom: 40px;
}

.hero__overlay {
  // height: 844px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  background-image: linear-gradient(
      to bottom,
      rgba(245, 250, 255, 0),
      rgba(245, 250, 255, 1)
    ),
    url(../images/bg_img/unsplashimg_s@1x.png);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 250, 255, 0),
        rgba(245, 250, 255, 1)
      ),
      url(../images/bg_img/unsplashimg_s@2x.png);
  }

  @media screen and (min-width: 744px) {
    background-image: linear-gradient(
        to bottom,
        rgba(245, 250, 255, 0),
        rgba(245, 250, 255, 1)
      ),
      url(../images/bg_img/unsplash@1m.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          to bottom,
          rgba(245, 250, 255, 0),
          rgba(245, 250, 255, 1)
        ),
        url(../images/bg_img/unsplash@2m.png);
    }
  }
}

.hero__title {
  display: flex;
  justify-content: center;
  font-weight: 400;
  font-size: 56px;
  line-height: calc(76 / 56);
  color: var(--main-txt-color);

  padding-left: 34px;
  padding-right: 34px;
  // margin-bottom: 8px;
  @media screen and (min-width: 744px) {
    font-size: 58px;
    line-height: calc(78 / 58);
  }
}

.proste {
  font-weight: 600;
  margin-right: 20px;
}

.hero__descr {
  font-weight: 600;
  font-size: 19px;
  line-height: calc(26 / 19);
  color: var(--main-txt-color);
  margin-top: 8px;
  
  @media screen and (min-width: 744px) {
    font-size: 22px;
    line-height: calc(27 / 22);
  }
}

.hero__button {
  display: inline-flex;

  padding-top: 361px;

  @media screen and (min-width: 744px) {
    justify-content: center;
  }
}
