.hlinikova__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // padding-top: 20px;
  padding-bottom: 32px;

  @media screen and (min-width: 744px) {
    padding-left: 111px;
    padding-right: 110px;
    padding-bottom: 40px;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 213px;
    padding-right: 213px;
    padding-bottom: 80px;
  }
}

.hlinikova__title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: start;
  color: var(--main-txt-color);
  // padding-top: 20px;
  margin-bottom: 20px;

  transition: color var(--animations);

  &:hover,
  &:focus {
    color: var(--accent-txt-color);
  }

  &--current {
    color: var(--accent-txt-color);
    position: relative;
  }

  @media screen and (min-width: 744px) {
    padding-top: 20px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: calc(33 / 24);
    padding-top: 0px;
  }
}

.hlinikova__logo {
  display: inline-flex;
  justify-content: center;
  padding-bottom: 20px;
  @media screen and (min-width: 1024px) {
    padding-bottom: 40px;
  }
}

.hlinikova-aliplast__icon {
  width: 140px;
  height: 40px;

  @media screen and (min-width: 744px) {
    width: 161px;
    height: 46px;
  }

  @media screen and (min-width: 1024px) {
    width: 178px;
    height: 50px;
  }
}

.hlinikova-aluprof__icon {
  width: 157px;
  height: 40px;

  @media screen and (min-width: 744px) {
    width: 161px;
    height: 42px;
  }

  @media screen and (min-width: 744px) {
    width: 178px;
    height: 46px;
  }
}

.hlinik__img {
  width: 148px;

  @media screen and (min-width: 744px) {
    width: 161px;
  }

  @media screen and (min-width: 1024px) {
    width: 178px;
    
  }
}

.hlinikova__catalog {
  display: flex;
  justify-content: space-between;
  padding-bottom: 8px;
  border-bottom: 1px solid var(--main-txt-color);

  @media screen and (min-width: 744px) {
    padding-bottom: 12px;
  }

  @media (min-width: 1024px) {
    padding-bottom: 16px;
  }
}

.hlinikova__kind {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

.hlinikova-pic__title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: start;
  color: var(--main-txt-color);

  @media screen and (min-width: 744px) {
    font-size: 20px;
    line-height: calc(27 / 20);
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: calc(33 / 24);
  }
}

.hlinikova__descr {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  color: var(--main-txt-color);

  @media (min-width: 744px) {
    font-size: 16px;
    line-height: calc(19 / 16);
  }

   @media (min-width: 1024px) {
    font-size: 19px;
    line-height: calc(22 / 19);
  }
}
