.info {
  @extend %section;

  @media screen and (min-width: 1024px) {
    padding-top: 80px;
  }
}

.info__container {
  display: flex;
  flex-flow: wrap;
  //   justify-content: center;
  padding-right: 6px;
  padding-left: 12px;
  @media screen and (min-width: 744px) {
    padding-left: 20px;
    padding-right: 0;
  }

  @media screen and (min-width: 1024px) {
    padding-left: 108px;
    padding-right: 108px;
  }
}

.info__title {
  font-weight: 600;
  font-size: 20px;
  line-height: calc(30 / 20);
  color: var(--main-txt-color);
  margin-bottom: 4px;

  @media screen and (min-width: 744px) {
    font-size: 22px;
    line-height: calc(33 / 22);
    padding-right: 356px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: calc(36 / 24);
    padding-right: 407px;
  }
}

.info__about {
  display: flex;
  flex-flow: wrap;
  // margin-bottom: 11px;
}

.info-descr__title {
  font-weight: 600;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: var(--main-txt-color);
  margin-bottom: 2px;
  margin-top: 8px;
  //   text-align: center;

  @media screen and (min-width: 744px) {
    font-size: 16px;
    line-height: calc(24 / 16);
    margin-top: 16px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 19px;
    line-height: calc(29 / 19);
    padding-right: 410px;
    margin-top: 20px;
  }
}

.info__descr {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(21 / 14);
  color: var(--main-txt-color);

  @media screen and (min-width: 744px) {
    font-size: 15px;
    line-height: calc(23 / 15);
    padding-right: 44px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 17px;
    line-height: calc(26 / 17);
    padding-right: 0;
    flex-basis: 808px;
  }
}
