.kontakty {
  @extend %section;
}

.kontakty__container {
  padding-left: 10px;
  padding-right: 10px;

  @media screen and (min-width: 744px) {
    padding-left: 111px;
    padding-right: 110px;
  }
}

.kontakty__title {
  font-weight: 600;
  font-size: 32px;
  line-height: calc(44 / 32);
  text-align: center;
  color: var(--main-txt-color);
  margin-bottom: 16px;

  @media screen and (min-width: 744px) {
    margin-bottom: 40px;
  }
}

.kontakty__list {
  display: flex;
  flex-flow: column;
  padding-top: 16px;
  gap: 16px;
  border-bottom: 1px solid var(--main-txt-color);
  margin-bottom: 28px;
}

.kontakty__info {
  margin-bottom: 227px;
  @media screen and (min-width: 744px) {
    margin-bottom: 60px;
  }
}

.kontakty__descr {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--main-txt-color);
  margin-bottom: 8px;

  @media screen and (min-width: 744px) {
    font-size: 20px;
    line-height: calc(24 / 20);
    // margin-bottom: 6px;
  }
}

.kontakty__link {
  font-family: var(--secondary-font);
  font-weight: 500;
  font-size: 18px;
  line-height: calc(21 / 18);
  color: var(--accent-txt-color);

  @media screen and (min-width: 744px) {
    font-size: 20px;
    line-height: calc(24 / 20);
  }
}

.kontakty__button {
  display: inline-flex;

  padding-bottom: 40px;

  @media screen and (min-width: 744px) {
    justify-content: center;
    // padding-right: 110px;
  }
}
