.parapety__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 91px;

  @media screen and (min-width: 744px) {
    padding-left: 111px;
    padding-right: 110px;
    padding-top: 108px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 140px;
    padding-left: 213px;
    padding-right: 213px;
  }
}

.parapety__catalog {
  display: flex;
  justify-content: space-between;

  @media screen and (min-width: 744px) {
    padding-bottom: 12px;
    border-bottom: 1px solid var(--main-txt-color);
  }

  @media screen and (min-width: 10244px) {
    padding-bottom: 16px;
  }
}

.parapety__title {
  font-weight: 600;
  font-size: 32px;
  line-height: calc(44 / 32);
  text-align: center;
  color: var(--main-txt-color);
  margin-bottom: 20px;

  @media screen and (min-width: 744px) {
    margin-bottom: 40px;
  }

  @media screen and (min-width: 1024px) {
    font-size: 36px;
    line-height: calc(54 / 36);
  }
}

.parapety__kind {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

// .parapety__pic {

// }

// .parapety__img {
//   width: 211px;

//   @media screen and (min-width: 744px) {
//     width: 252px;
//   }
//   @media screen and (min-width: 1024px) {
//     width: 283px;
//   }
// }

.parapety-pic__title {
  font-weight: 600;
  font-size: 18px;
  line-height: calc(25 / 18);
  text-align: center;
  color: var(--main-txt-color);

  @media screen and (min-width: 744px) {
    font-size: 20px;
    line-height: calc(27 / 20);
  }

  @media screen and (min-width: 1024px) {
    font-size: 24px;
    line-height: calc(33 / 24);
  }
}

.parapety__descr {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  color: var(--main-txt-color);

  @media screen and (min-width: 744px) {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
  }

  @media (min-width: 1024px) {
    font-size: 19px;
    line-height: calc(22 / 19);
  }
}

.parapety__button {
  display: inline-flex;
  padding-top: 219px;
  padding-bottom: 17px;

  @media screen and (min-width: 744px) {
    padding-top: 60px;
    padding-bottom: 535px;
  }

  @media screen and (min-width: 1024px) {
    padding-top: 80px;
    padding-bottom: 505px;
  }
}
