.projecty {
  @extend %section;
}

.projecty__container {
  @media screen and (min-width: 744px) {
    padding-left: 111px;
    padding-right: 110px;
  }
}

.projecty__title {
  font-weight: 600;
  font-size: 32px;
  line-height: calc(44 / 32);
  color: var(--main-txt-cl);
  text-align: center;
  margin-bottom: 16px;

  @media screen and (min-width: 744px) {
    // line-height: calc(48 / 32);
    margin-bottom: 20px;
  }
}

.projecty__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media screen and (min-width: 744px) {
    gap: 32px;
  }
}

.projecty__item {
  // display: none;
  display: flex;
  align-items: flex-end;
  gap: 8px;
  background-color: var(--light-bg-cl);
  border-bottom: 1px solid var(--btn-bg-color);
  padding-bottom: 8px;
}

.projecty__descr {
  font-family: var(--secondary-font);
  font-weight: 400;
  font-size: 14px;
  line-height: calc(19 / 14);
  color: var(--accent-txt-color);

  @media screen and (min-width: 744px) {
    font-size: 20px;
    line-height: calc(27 / 20);
  }
}

.projecty__icon {
  width: 38px;
  height: 47px;

  @media screen and (min-width: 744px) {
    width: 70px;
    height: 87px;
  }
}
